<div class="container">
  <h2>Login to your account</h2>
  <form action="/users/login" method="POST">
    <input type="text" name="user[email]" placeholder="Email"><br>
    <input type="password" name="user[password]" placeholder="Password"><br>
    <input type="submit" value="Login!">
  </form>
</div>
