<div class="container">
  <h2>Sign up to become a user so you can add and edit words!</h2>
  <form action="/users/new" method="POST">
    <input type="text" name="user[name]" placeholder="Your Name"><br>
    <input type="text" name="user[email]" placeholder="Email"><br>
    <input type="password" name="user[password]" placeholder="Password"><br>
    <input type="password" name="user[password]" placeholder="Password Confirmation"><br>
    <input type="submit" value="Create account!">
  </form>
</div>
