<div class="container">
  <h1>Welcome to the Ultimate Translator!</h1>

  <form class="translation_form" action="/" method="POST">
  	<input type="radio" name="language" value="english">English to German<br>
    <input type="radio" name="language" value="german">German to English<br><br>
    <input type="text" name="word" placeholder="Type in a word"><br><br>
    <input type="submit" value="Lookup!">
  </form>
  <br><br>

  <% if current_user %>
  <div class="word-creation">

    <form class='word-creation-form' action='/words/new'>
      <input type="radio" name="create" value="create-english">Create English to German translation<br>
      <input type="radio" name="create" value="create-german">Create German to English translation<br>
    </form>

  <% end %>

  </div>

  <ul class="translation_container">
  </ul>


  <% if @english_word %>
    <ul>
    <% @german_words.each do |word| %>
       <li><%= word.word %></li>
    <% end %>
    <ul>
  <% elsif @german_word %>
    <ul>
    <% @english_words.each do |word| %>
      <li><%= word.word %></li>
    <% end %>
   </ul>
  <% elsif @error %>
    <div id='error'>
      <%= @error[:invalid] %>
    </div>
  <% end %>



</div>
