<div class="container">
  <h1>Welcome to the Ultimate Translator!</h1>

  <form action="/" method="POST">
  	<input type="radio" name="language" value="english">English to German<br>
    <input type="radio" name="language" value="german">German to English<br><br>
    <input type="text" name="word" placeholder="Type in a word"><br><br>
    <input type="submit" value="Lookup!">
  </form>


  <% if @english_word %>
    <ul>
    <% @german_words.each do |word| %>
       <li><%= word.word %></li>
    <% end %>
    <ul>
  <% elsif @german_word %>
    <ul>
    <% @english_words.each do |word| %>
      <li><%= word.word %></li>
    <% end %>
   </ul>
  <% elsif @error %>
    <div id='error'>
      <%= @error[:invalid] %>
    </div>
  <% end %>



</div>
